# Message broker dependencies
pika==1.3.1

# AWS dependencies
boto3==1.34.34
botocore==1.34.34

# Azure dependencies
azure-servicebus==7.11.3
azure-core==1.29.6

# Other utilities
python-dotenv==1.0.0

# Optional: for development
pytest==7.4.3
black==23.12.1
pylint==3.0.3