openapi: 3.0.1
info:
  title: DEX Processing Status API
  description: |
    Swagger definition of the Data Exchange (DEX) processing status API.
    ## Overview
    ### What it does:
    -  Standardized tracing capture with advanced query options
    -  Standardized report capture with advanced query options
    -  Emitting configurable notifications, which could be used to facilitate workflow management or success/fail observability for uploads
    ### What it doesn’t do:
    -  Workflow management
    -  Access control layer
    
    ## Functionality
    The processing status API provides three areas of functionality including tracing, reporting, and notifications.
      * **Tracing** - Traces are used to indicate the completion of a phase of processing.  For example, as a file is uploaded it progresses through a pipeline.  As milestones are completed in the pipeline a trace is used to indicate the successful completion of that milestone.
    
      * **Reports** - Reports are used to provide feedback whenever one of the processing pipeline stages has warnings, errors, or fails.  There can be more than one processing report for the processing pipeline.  For example, there may be warnings on the structure validation, which reports to the processing API, but the file is allowed to continue processing.  The next stage, content validation, may then have some critical failures that cause the pipeline to stop, which is provided in a second report.
    
      * **Notifications** - Notifications define the methods and filters used to provide feedback to listeners.  Notification setups need to be established and once created persist until cancelled by the listener.  Notification listeners will provide a request to indicate what type of notification they want such as a webhook HTTP call whenever a relevant event occurs.  Notifications apply to both traces and reports.  Notifications may be fired for a trace or report as they are generated or fired when the pipeline concludes.  If the latter, the entire collection of traces or reports is provided all at once, whether because of a failure or it completed successfully.
  version: 1.0.0
servers:
  - url: 'https://apidev.cdc.gov/processingstatus'
    description: Development server
  - url: 'https://api.cdc.gov/processingstatus'
    description: Production server
tags:
  - name: DEX Tracing
    description: CDC Data Exchange Distributed Tracing
  - name: DEX Reports
    description: CDC Data Exchange Reports
    externalDocs:
      description: Find out more
      url: 'https://github.com/CDCgov/data-exchange-csv'
  - name: DEX Status
    description: CDC Data Exchange Status and Data Projections
  - name: DEX Info
    description: CDC Data Exchange Info
  - name: Health
    description: Health endpoint
  - name: DEX Notifications
    description: CDC Data Exchange Notifications
    externalDocs:
      description: Find out more
      url: 'https://github.com/CDCgov/data-exchange-processing-status'
security:
  - bearerAuth: []
paths:
  '/trace':
    post:
      tags:
        - DEX Tracing
      summary: Create a processing status trace.
      description: >-
        Creates a new distributed tracing trace.
      parameters:
        - name: uploadId
          in: query
          required: true
          schema:
            type: string
          description: Upload identifier.
        - name: dataStreamId
          in: query
          required: true
          schema:
            type: string
          description: Data Stream identifier.
        - name: dataStreamRoute
          in: query
          required: true
          schema:
            type: string
          description: Data Stream Route.
      responses:
        '200':
          description: Trace and parent span information for the trace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTrace'
        '400':
          description: uploadId, dataStreamId and dataStreamRoute are required.
        '401':
          description: Authorization information is missing or invalid.
  '/trace/startSpan/{traceId}/{parentSpanId}':
    put:
      tags:
        - DEX Tracing
      summary: Creates a processing status span for a given trace.  Span will be marked as started at the time this call is made.
      description: >-
        Creates and starts a new distributed tracing span.
      parameters:
        - name: traceId
          in: path
          required: true
          schema:
            type: string
          description: Trace ID
        - name: parentSpanId
          in: path
          required: true
          schema:
            type: string
          description: Parent span ID to add this span to.
        - name: stageName
          in: query
          required: true
          schema:
            type: string
          description: Name of the stage providing the trace.
      requestBody:
        description: >-
          Optional tags.  If a tag is provided with the same `key` in the stop mark as the start mark, the new tag value will
          replace the start tag value.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tags'
      responses:
        '200':
          description: Trace and span information for the span created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTrace'
        '400':
          description: Bad request.  The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/trace/stopSpan/{traceId}/{spanId}':
    put:
      tags:
        - DEX Tracing
      summary: Stops a processing status span for a given trace.  Span will be marked as stopped at the time this call is made.
      description: >-
        Stops an existing distributed tracing span.
      parameters:
        - name: traceId
          in: path
          required: true
          schema:
            type: string
          description: Trace ID
        - name: spanId
          in: path
          required: true
          schema:
            type: string
          description: Span ID to stop.
      requestBody:
        description: >-
          Optional tags.  If a tag is provided with the same `key` in the stop mark as the start mark, the new tag value will
          replace the start tag value.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tags'
      responses:
        '200':
          description: Successfully stopped the provided span.
        '400':
          description: Bad request.  The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/trace/traceId/{traceId}':
    get:
      tags:
        - DEX Tracing
      summary: Gets a processing status trace from a trace ID.
      description: >-
        Retrieves a distributed tracing trace.
      parameters:
        - name: traceId
          in: path
          required: true
          schema:
            type: string
          description: Trace ID.
      responses:
        '200':
          description: Trace for the given upload dentifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrace'
        '400':
          description: Bad request.  The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/trace/uploadId/{uploadId}':
    get:
      tags:
        - DEX Tracing
      summary: Gets a processing status trace from an upload ID.
      description: >-
        Retrieves a distributed tracing trace span.
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
          description: Upload ID.
      responses:
        '200':
          description: Trace for the given upload dentifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrace'
        '400':
          description: Bad request.  The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/trace/reportId/{reportId}':
    get:
      tags:
        - DEX Tracing
      summary: Gets a processing status trace from a report ID. (Not yet implemented)
      description: >-
        Retrieves a distributed tracing trace. **(Not yet implemented)**
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
          description: Report ID.
      responses:
        '200':
          description: Trace for the given upload dentifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrace'
        '400':
          description: Bad request.  The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/trace/span':
    get:
      tags:
        - DEX Tracing
      summary: Gets a processing status span.
      description: >-
        Retrieves a distributed tracing span from the query parameters provided.  If more than one stage name is
        found that meets the criteria, the one with the most recent timestamp will be provided.
      parameters:
        - name: uploadId
          in: query
          schema:
            type: string
          description: Upload identifier
        - name: stageName
          in: query
          schema:
            type: string
          description: Stage name
      responses:
        '200':
          description: Span for the provided query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpan'
        '400':
          description: Bad request.  The span was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/report/json/uploadId/{uploadId}':
    post:
      tags:
        - DEX Reports
      summary: Create a report using the provided upload identifier.
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
          description: Upload ID.
        - name: dataStreamId
          in: query
          required: true
          schema:
            type: string
          description: Data Stream ID.
        - name: dataStreamRoute
          in: query
          required: true
          schema:
            type: string
          description: Data Stream Route.
        - name: stageName
          in: query
          required: true
          schema:
            type: string
          description: Report Stage Name.
        - name: message_id
          in: query
          required: false
          schema:
            type: string
          description: Message Identifier.
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: Status.          
      responses:
        '200':
          description: Trace for the given upload dentifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReport'
        '400':
          description: Bad request. Failed to create report.
        '401':
          description: Authorization information is missing or invalid.
    put:
      tags:
        - DEX Reports
      summary: Replace an existing report using the provided upload identifier to lookup the report.
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
          description: Upload ID.
        - name: dataStreamId
          in: query
          required: true
          schema:
            type: string
          description: Data Stream ID.
        - name: dataStreamRoute
          in: query
          required: true
          schema:
            type: string
          description: Data Stream Route.
        - name: stageName
          in: query
          required: true
          schema:
            type: string
          description: Report Stage Name.
        - name: message_id
          in: query
          required: false
          schema:
            type: string
          description: Message Identifier.
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: Status.   
      responses:
        '200':
          description: Trace for the given upload dentifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmmendReport'
        '400':
          description: Bad request.  The upload identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
    get:
      tags:
        - DEX Reports
      summary: Retrieve a report using the provider upload identifier to lookup the report.
      description: >-
        Creates a status report for the given upload identifier.
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
          description: Upload identifier to retrieve all the upload statuses for.
      responses:
        '200':
          description: Report for the given identifier
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HL7Report'
                  - $ref: '#/components/schemas/CSVReport'
        '400':
          description: Bad request.  The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/report/traceId/{traceId}':
    put:
      tags:
        - DEX Reports
      summary: Replace an existing report. (Not yet implemented)
      description: >-
        Replace an existing report using the provided trace identifier to lookup the report. **(Not yet implemented)**
      parameters:
        - name: traceId
          in: path
          required: true
          schema:
            type: string
          description: Trace ID.
      responses:
        '200':
          description: Trace for the given upload dentifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmmendReport'
        '400':
          description: Bad request.  The trace identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
    get:
      tags:
        - DEX Reports
      summary: Retrieve a report using the provider trace identifier to lookup the report.
      description: >-
        Provides a status report for the given trace identifier.
      parameters:
        - name: traceId
          in: path
          required: true
          schema:
            type: string
          description: Trace identifier to retrieve all the upload statuses for.
      responses:
        '200':
          description: Report for the given identifier
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/HL7Report'
                  - $ref: '#/components/schemas/CSVReport'
        '400':
          description: Bad request.  The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/report/ids/{dataStreamId}':
    get:
      tags:
        - DEX Reports
      summary: Provides list of report identifiers for given criteria. (Not yet implemented)
      description: >-
        Provides list of report identifiers for the given criteria. **(Not yet implemented)**
      parameters:
        - name: dataStreamRoute
          in: query
          schema:
            type: string
          description: >-
            If specified, also filter by dataStreamRoute that was provided with the upload.
          example: RoutineImmunization
        - name: dataStreamId
          in: path
          required: true
          schema:
            type: string
          description: Data Stream identifier to retrieve all the upload statuses for.
        - name: date_start
          in: query
          schema:
            type: string
          description: >-
            Start date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            inclusive).  Defaults to 3 months prior to today.
          example: 20231020T14103000Z
        - name: date_end
          in: query
          schema:
            type: string
          description: >-
            End date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            exclusive).  Defaults to today.
          example: 20231030T14103000Z
      responses:
        '200':
          description: List of report identifiers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    report_id:
                      type: string
                      format: uuid
                    timestamp:
                      type: string
                      format: date-time
                    destination_id:
                      type: string
                    event_type:
                      type: string
        '400':
          description: Bad request.  The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/info/dataStreamId':
    get:
      tags:
        - DEX Info
      summary: >-
        Provides a list of all known data stream IDs. (Not yet implemented)
      description: >-
        Provides a list of all known data stream IDs. **(Not yet implemented)**
      responses:
        '200':
          description: All of the known data stream identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Authorization information is missing or invalid.
  '/info/{dataStreamId}/routes':
    get:
      tags:
        - DEX Info
      summary: >-
        Provides a list of all known routes. (Not yet implemented)
      description: >-
        Provides a list of all known routes for the given dataStreamId identifier. **(Not yet implemented)**
      parameters:
        - name: dataStreamId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: All of the known routes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad request.  The data stream identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/info/reportSchemas':
    get:
      tags:
        - DEX Info
      summary: >-
        Provides a list of all known report schema identifiers. (Not yet implemented)
      description: >-
        Provides a list of all known report schema identifiers. **(Not yet implemented)**
      responses:
        '200':
          description: All of the known report schema identifiers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example:
                    csv_report_schema_v1.0
        '400':
          description: Bad request.  The destination identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/status/{uploadId}':
    get:
      tags:
        - DEX Status
      summary: Provides a complete view of an upload in progress or completed.
      description: >-
        Provides a complete view of an upload in progress or a completed upload, including all that is know about the upload in terms of tracing and reporting.
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            If specified, also filter by meta_ext_event that was provided with
            the upload.
      responses:
        '200':
          description: All of the upload statuses for the given destination identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessingStatus'
        '400':
          description: Bad request.  The upload identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/upload/{dataStreamId}':
    get:
      tags:
        - DEX Status
      summary: Provides all upload statuses for the given destination identifier, further filtered by the optional ext_event and date range parameters.
      description: >-
        Provides report for the given identifier.
      parameters:
        - name: data_stream_route
          in: query
          schema:
            type: string
          description: >-
            If specified, also filter by data_stream_route that was provided with
            the upload.
          example: RoutineImmunization
        - name: dataStreamId
          in: path
          required: true
          schema:
            type: string
          description: Data stream identifier to retrieve all the upload statuses for.
        - name: date_start
          in: query
          schema:
            type: string
          description: >-
            Start date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            inclusive).  Defaults to 3 months prior to today.
          example: 20231020T14103000Z
        - name: date_end
          in: query
          schema:
            type: string
          description: >-
            End date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            exclusive).  Defaults to today.
          example: 20231030T14103000Z
        - name: page_size
          in: query
          schema:
            type: integer
          description: Number of entries returned for the given page.
          example: 50
        - name: page_number
          in: query
          schema:
            type: integer
          description: Page number to retrieve.
          example: 1
        - name: sort_by
          in: query
          schema:
            type: string
          description: Can sort by date or route
          example: date
        - name: sort_order
          in: query
          schema:
            type: string
          description: Can sort by ascending or descening
          example: descending
      responses:
        '200':
          description: All of the upload statuses for the given destination identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessingStatuses'
        '400':
          description: Bad request.  The destination identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/report/counts/{uploadId}':
    get:
      tags:
        - DEX Status
      summary: Report counts for the given upload identifier.
      description: >-
        Provides report counts for the given upload identifier.
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            Upload identifier to retrieve the report counts for.
      responses:
        '200':
          description: Report counts for the given upload identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCountsForUploadId'
        '400':
          description: Bad request.  The destination identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/report/counts':
    get:
      tags:
        - DEX Status
      summary: Report counts for the given criteria.
      description: >-
        Provides report counts for the given criteria.
      parameters:
        - name: data_stream_id
          in: query
          required: true
          schema:
            type: string
          description: Filter by the data stream identifier to retrieve the report counts for.
        - name: data_stream_route
          in: query
          required: true
          schema:
            type: string
          description: Filter by the data stream route that was provided with the upload.
          example: routineImmunization
        - name: date_start
          in: query
          schema:
            type: string
          description: >-
            Start date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            inclusive).  Defaults to 3 months prior to today.
          example: 20231020T14103000Z
        - name: date_end
          in: query
          schema:
            type: string
          description: >-
            End date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            exclusive).  Defaults to today.
          example: 20231030T14103000Z
      responses:
        '200':
          description: Report counts for the given upload identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCountsForUploads'
        '400':
          description: Bad request.  The destination identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
  '/report/counts/submissions/summary':
    get:
      tags:
        - DEX Status
      summary: Report counts for the given criteria.
      description: >-
        Provides report counts for the given criteria.
      parameters:
        - name: data_stream_id
          in: query
          required: true
          schema:
            type: string
          description: Filter by the data stream identifier to retrieve the report counts for.
        - name: data_stream_route
          in: query
          required: true
          schema:
            type: string
          description: Filter by the data stream route that was provided with the upload.
          example: routineImmunization
        - name: date_start
          in: query
          schema:
            type: string
          description: >-
            Start date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            inclusive).  Defaults to 3 months prior to today.
          example: 20231020T14103000Z
        - name: date_end
          in: query
          schema:
            type: string
          description: >-
            End date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            exclusive).  Defaults to today.
          example: 20231030T14103000Z
      responses:
        '200':
          description: Report counts for the given criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessingCounts'
        '400':
          description: Bad request.  The destination identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.                
  '/report/counts/hl7/invalidStructureValidation':
    get:
      tags:
        - DEX Status
      summary: Report counts for the given criteria.
      description: >-
        Provides report counts for the given criteria.
      parameters:
        - name: data_stream_id
          in: query
          required: true
          schema:
            type: string
          description: Filter by the data stream identifier to retrieve the report counts for.
        - name: data_stream_route
          in: query
          required: true
          schema:
            type: string
          description: Filter by the data stream route that was provided with the upload.
          example: routineImmunization
        - name: date_start
          in: query
          schema:
            type: string
          description: >-
            Start date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            inclusive).  Defaults to 3 months prior to today.
          example: 20231020T14103000Z
        - name: date_end
          in: query
          schema:
            type: string
          description: >-
            End date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            exclusive).  Defaults to today.
          example: 20231030T14103000Z
      responses:
        '200':
          description: Report counts for the given criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  counts:
                    type: string
                  query_time_millis:
                    type: string
        '400':
          description: Bad request.  The destination identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.        
  '/report/counts/hl7/directIndirectMessageCounts':
    get:
      tags:
        - DEX Status
      summary: Report counts for the given criteria.
      description: >-
        Provides report counts for the given criteria.
      parameters:
        - name: data_stream_id
          in: query
          required: true
          schema:
            type: string
          description: Filter by the data stream identifier to retrieve the report counts for.
        - name: data_stream_route
          in: query
          required: true
          schema:
            type: string
          description: Filter by the data stream route that was provided with the upload.
          example: routineImmunization
        - name: date_start
          in: query
          schema:
            type: string
          description: >-
            Start date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            inclusive).  Defaults to 3 months prior to today.
          example: 20231020T14103000Z
        - name: date_end
          in: query
          schema:
            type: string
          description: >-
            End date of filter.  Format is YYYYMMDDTHHMMSSZ (UTC format,
            exclusive).  Defaults to today.
          example: 20231030T14103000Z
      responses:
        '200':
          description: Report counts for the given criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  direct_counts:
                    type: string
                  indirect_counts:
                    type: string  
                  query_time_millis:
                    type: string
        '400':
          description: Bad request.  The destination identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid. 
  '/health':
    get:
      tags:
        - Health
      summary: Gets the health status of the service.
      description: >-
        Retrieves the health status of the service.
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date
  '/notifications/subscribe/email/{dataStreamId}/{dataStreamRoute}':
    post:
      tags:
        - DEX Notifications
      summary: Create a subscription on the given destinationId, stageNames and routes for the provided email.
      description: >-
        Creates a new email subscription for the notification of any type of status updates(warnings, errors or success) of pipeline.
      parameters:
        - name: dataStreamId
          in: path
          required: true
          schema:
            type: string
          description: Data Stream Id or Program Id to subscribe for notifications.
        - name: dataStreamRoute
          in: path
          required: true
          schema:
            type: string
          description: Data Stream Route within the program to subscribe.
        - name: email
          in: query
          required: true
          schema:
            type: string
          description: Valid Email address of the user to subscribe with where the user will get notification.
        - name: stageName
          in: query
          required: true
          schema:
            type: string
          description: Stage name to subscribe.
        - name: statusType
          in: query
          required: true
          schema:
            type: string
            enum: [ success, failure, warning ]
          description: Status Type could be the status of the pipeline, i.e. 'Success', 'Failure' or 'Warning'.
      responses:
        '200':
          description: Subscription Id with success message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSubscriptionNotification'
        '400':
          description: Bad request. The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
        '403':
          description: Unauthorized access.
  '/notifications/subscribe/websocket/{dataStreamId}/{dataStreamRoute}':
    post:
      tags:
        - DEX Notifications
      summary: Create a subscription on the given dataStreamId, stageNames and dataStreamRoute for the provided web socket url.
      description: >-
        Creates a new websocket subscription for the notification of any type of status updates(warnings, errors or success) of pipeline.
      parameters:
        - name: dataStreamId
          in: path
          required: true
          schema:
            type: string
          description: Data Stream Id
        - name: dataStreamRoute
          in: path
          required: true
          schema:
            type: string
          description: DataStreamRoute to subscribe.
        - name: url
          in: query
          required: true
          schema:
            type: string
          description: Valid Websocket URL to subscribe.
        - name: stageName
          in: query
          required: true
          schema:
            type: string
          description: Stage name to subscribe.
        - name: statusType
          in: query
          required: true
          schema:
            type: string
            enum: [ success, failure, warning ]
          description: Status Type could be the status of the pipeline, i.e. 'Success', 'Failure' or 'Warning'.
      responses:
        '200':
          description: Subscription Id with success message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsocketSubscriptionNotification'
        '400':
          description: Bad request. The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
        '403':
          description: Unauthorized access.
  '/notifications/unsubscribe/{subscriptionId}':
    post:
      tags:
        - DEX Notifications
      summary: Unsubscribe to the existing subscriptions.
      description: >-
        Removes an existing subscription with given subscriptionId from the database.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
          description: The Subscription ID
      responses:
        '200':
          description: Subscription Id with confirmation message of unsubscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnSubscribeNotification'
        '400':
          description: Bad request. The identifier provided was not found.
        '401':
          description: Authorization information is missing or invalid.
        '403':
          description: Unauthorized access.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    CreateTrace:
      type: object
      properties:
        trace_id:
          type: string
        span_id:
          type: string
    GetTrace:
      type: object
      properties:
        trace_id:
          type: string
        span_id:
          type: string
        upload_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        status:
          type: string
          enum: [running, completed]
        elapsed:
          type: number
          description: length of time in microseconds the stage ran or has run if status is in_progress
          example: 765024
        data_stream_id:
          type: string
        data_stream_route:
          type: string
        metadata:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                oneOf:
                  - type: string
                  - type: integer
    GetSpan:
      type: object
      properties:
        stage_name:
          type: string
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
        timestamp:
          type: string
          format: date-time
        status:
          type: string
          enum: [running, completed]
        elapsed_millis:
          type: number
          description: length of time in milliseconds the stage has run or ran if completed
          example: 6502
        metadata:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                oneOf:
                  - type: string
                  - type: integer
    Tags:
      type: array
      items:
        type: object
        properties:
          key:
            type: string
          value:
            type: string
    CreateReport:
      type: object
      properties:
        report_id:
          type: string
          format: uuid
        stage_name:
          type: string
    AmmendReport:
      type: object
      properties:
        report_id:
          type: string
          format: uuid
        stage_name:
          type: string
    ReportCountsForUploadId:
      type: object
      properties:
        upload_id:
          type: string
          format: uuid
        data_stream_id:
          type: string
          example: ndlp
        data_stream_route:
          type: string
          example: routineImmunization
        stages:
          type: object
          properties:
            dex-metadata-verify:
              type: integer
              example: 1
            dex-upload-status:
              type: integer
              example: 1
            dex-routing:
              type: integer
              example: 1
            dex-hl7-receiver:
              type: object
              properties:
                counts:
                  type: integer
                  example: 100
                number_of_messages:
                  type: integer
                  example: 96
                number_of_messages_not_propogated:
                  type: integer
                  example: 4
            dex-hl7-structure:
              type: object
              properties:
                counts:
                  type: integer
                  example: 96
                valid:
                  type: integer
                  example: 90
                invalid:
                  type: integer
                  example: 6
    ReportCountsForUploads:
      type: object
      properties:
        summary:
          type: object
          properties:
            num_uploads:
              type: integer
              example: 14
        uploads:
          type: array
          items:
            $ref: '#/components/schemas/ReportCountsForUploadId'
    HL7Report:
      type: object
      properties:
        schema_version:
          type: string
          description: The schema version of this report.
          example: '1.0'
        schema_type:
          type: string
          description: The schema type of this report.
          example: 'hl7v2'
        filename:
          type: string
          example: hl7_file.txt
        versioning:
          $ref: '#/components/schemas/ReportVersions'
        validation:
          $ref: '#/components/schemas/Validation'
        summary:
          $ref: '#/components/schemas/Summary'
        issues:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: TODO
                example: "syntax|semantic|code_table"
              severity:
                type: string
                description: TODO
                example: "warning|error"
              description:
                type: string
                description: TODO
                example: "{state the reason for the issue or warning}"
              recommendation:
                type: string
                description: TODO
                example: "{if applicable or null}"
    CSVReport:
      type: object
      properties:
        schema_version:
          type: string
          description: The schema version of this report.
          example: '1.0'
        schema_type:
          type: string
          description: The schema type of this report.
          example: 'csv'
        filename:
          type: string
          example: csv_file.csv
        versioning:
          $ref: '#/components/schemas/ReportVersions'
        validation:
          $ref: '#/components/schemas/Validation'
        summary:
          $ref: '#/components/schemas/Summary'
        issues:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: TODO
                example: "syntax|semantic|code_table"
              severity:
                type: string
                description: TODO
                example: "warning|error"
              description:
                type: string
                description: TODO
                example: "{state the reason for the issue or warning}"
              recommendation:
                type: string
                description: TODO
                example: "{if applicable or null}"
    Validation:
      type: object
      properties:
        version:
          type: string
          description: The schema version of this report.
          example: 1.2
        version_date:
          type: string
          format: date
          description: TODO
    ReportVersions:
      type: array
      items:
        type: object
        properties:
          version:
            type: integer
            example: 1
          stage:
            type: string
            example: "dex-upload"
          timestamp:
            type: string
            format: date-time
    Summary:
      type: object
      properties:
        total_issues:
          type: integer
          description: TODO
          example: 2
        warnings:
          type: integer
          description: TODO
          example: 1
        errors:
          type: integer
          description: TODO
          example: 1
        issue_types:
          $ref: '#/components/schemas/HL7IssueTypes'
    HL7IssueTypes:
      type: object
      properties:
        syntax:
          type: integer
          description: TODO
          example: 44
        semantic:
          type: integer
          description: TODO
          example: 11
        code_table:
          type: integer
          description: TODO
          example: 2
    ProcessingStatus:
      type: object
      properties:
        status:
          type: string
          description: The upload status.
          example: Uploading
        tracing:
          type: array
          items:
            type: object
            properties:
              stage:
                type: string
                example: "dex-upload"
              timestamp:
                type: string
                format: date-time
              tags:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    value:
                      type: string
        percent_complete:
          type: number
          format: double
          description: Percentage the upload is complete.
          example: 0.65
        file_name:
          type: string
          description: Filename of the upload.
          example: largefile.csv
        file_size_bytes:
          type: integer
          description: File size in bytes.
          example: 190840042
        bytes_uploaded:
          type: integer
          description: Bytes uploaded so far.
          example: 124046027
        tus_upload_id:
          type: string
          description: Unique identifier of the upload assigned by tus.
          example: 8923c9ff-6afa-42b2-a67b-89cb37e047e6
        time_uploading_sec:
          type: number
          format: double
          description: Total time the upload was or has been in progress.
          example: 34.4
        timestamp:
          type: string
          description: Last modified timestamp for the upload status
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePair'
    ProcessingStatuses:
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/PageSummary'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProcessingStatus'
    EmailSubscriptionNotification:
      type: object
      properties:
        subscription_id:
          type: string
          format: uuid
        error_msg:
          type: string
          example: "Invalid subscription"
    WebsocketSubscriptionNotification:
      type: object
      properties:
        subscription_id:
          type: string
          format: uuid
        error_msg:
          type: string
          example: "Invalid subscription"
    UnSubscribeNotification:
      type: object
      properties:
        subscription_id:
          type: string
          format: uuid
        error_msg:
          type: string
          example: "Invalid subscription"
    ProcessingCounts:
      type: object
      properties:
        total_counts:
          type: string
        status_counts:
          type: object
          properties:
            uploading:
              type: object
              properties:
                counts:
                  type: string
                reasons:
                  type: string
            failed:    
              type: object
              properties:
                counts:
                  type: string
                reasons:
                  type: string
            uploaded:    
              type: object
              properties:
                counts:
                  type: string
                reasons:
                  type: string        
    PageSummary:
      type: object
      properties:
        page_number:
          type: integer
          example: 1
        number_of_pages:
          type: integer
          example: 8
        page_size:
          type: integer
          example: 20
        total_items:
          type: integer
          example: 157
    KeyValuePair:
      type: object
      properties:
        key:
          type: string
        value:
          oneOf:
            - type: string
            - type: number