<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
         <customFields>
            {
            "application": "pstatus-api-report-sink",
            "environment": "development"
            }
        </customFields>

        <labels>
            <label name="job">kotlin-app</label>
            <label name="instance">instance1</label>
        </labels>
    </appender>
    <appender name="TABULAR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-15thread %-25logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TABULAR" />
    </root>
</configuration>

